  

   

text{
  color: white;
}

.App{
  background-color: #191452;
  text-align: center; 
   font-family: 'Noto Sans JP', sans-serif;
  
}

#backgound {
  background-color: #480b7d;

}

.bodyStyle{
  margin-top: 100px;
 font-family: 'Roboto Mono', monospace;
  color: white;
}



#button2{
margin-left: 12px;

}

