
text{
  color: white;
}

.App{
  
  text-align: center; 
}

 body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;


}

  .CoSw{
  	text-align: center;
  	margin-top: 25px;
  	margin-bottom: 55px;
  }

  .tableSpace{
  	padding-bottom-bottom: 250px;
  }

.space{

	padding: 50px;

}
.bg {

   max-width: 100%;
  height: auto;

}

#backgound {
  

}

.bodyStyle{
  margin-top: 100px;
 font-family: 'Roboto Mono', monospace;
  color: white;
}



#button2{
margin-left: 12px;
margin-top: 12px;

}

h1{
  color: gold;
}